<% topic.bookmarks.each do |bookmark| %>


	<h4><%= link_to bookmark.url, bookmark.url %>
	<% if policy(bookmark).edit? %>
		<%= link_to "Edit bookmark", edit_topic_bookmark_path(topic, bookmark), class: 'label label-default' %>
     <% end %>
     <% if policy(bookmark).destroy? %>
		<%= link_to "Delete bookmark", topic_bookmark_path(topic, bookmark), method: :delete,class: 'label label-danger', data: {confirm: 'Are you sure you want to delete this?'} %>
	<% end %>
	</h4>
<%= render partial: 'likes/like', locals: { bookmark: bookmark } %>
	
<% end %>
<br>
<br>

<h4><%= link_to "Create a new bookmark", new_topic_bookmark_path(topic, bookmark), class: 'label label-info' %></h4>