
<%= content_tag_for :div, bookmark, class: 'col-xs-4' do %>

	<h5><%= bookmark.url %></h5>
	
	<%= link_to bookmark.url, bookmark.url, class: 'embedly-card' %>
	
	<% if policy(bookmark).edit? %>
		<h4><%= link_to "Edit bookmark", edit_topic_bookmark_path(bookmark.topic, bookmark), class: 'label label-default' %></h4>
     <% end %>
    <h4><%= link_to "Delete bookmark", topic_bookmark_path(bookmark.topic, bookmark), method: :delete,class: 'label label-info', data: {confirm: 'Are you sure you want to delete this?'} %></h4>
   	 <h4><%= render partial: 'likes/like', locals: { bookmark: bookmark, topic: bookmark.topic } %></h4>
<% end %>

<script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8">
 $('a').preview({key:'e49a5ceacb24496dba1805e3f05cfe92',
                        preview:preview,
                        selector : {type:'rich'},
                        maxheight : 100,
                        display : {display : 'rich'}}
                        success : function(oembed){
                                  oembed.title // gives you title
                                  oembed.description // gives you description 
                                  });
</script>