<dv class="row" >
	<div class="col-md-8">
	<h1><span class="glyphicon glyphicon-ok-circle"></span>My bookmark list</h1>
	<% @user_bookmarks.each do |user_bookmark| %>
		<% topic, bookmarks = user_bookmark %>	
			<h3><p><%= topic.title %></p></h3>
						<% bookmarks.each do |bookmark| %>
							<p><%= bookmark.url %></p>
						<% end %>
	<% end %>
    <h1><span class="glyphicon glyphicon-heart"></span>My like bookmark list</h1>
   	<% @liked_bookmarks.each do |liked_bookmarks| %>
   	  <% topic, bookmarks = liked_bookmarks %>
		
			<h3><p> <%= topic.title %></p></h3>
		    	<% bookmarks.each do |bookmark| %>
					<%= bookmark.url %>
	<%= render partial: 'likes/like', locals: { bookmark: bookmark, topic: topic } %>
		<% end %>
	<% end %>
	</div>
</div>